*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border:0;
    display: flexbox;
    text-align: center;
    color: aliceblue;

}
html{
    box-sizing:content-box;
}
body{
    background-color: #171a4a;
    background-image: url(/tickpro-trading/img/background.png);
}
main{
    box-sizing:border-box;
}
.principal{
    display: flexbox;
    justify-content: center;
    align-items: center;
    
}
.logo{
    margin-bottom: -40px;
    margin-top: -40px
}
img{;
    width: 350px;
}
.conteudo{
    padding: 0 60px;
}
.headline{
    padding: 0 0 40px 0;
    font-size: 58px;
}
.headline>span{
    filter: hue-rotate(323deg);
    color: #0cd6db;
    text-shadow: 0 2px 10px rgba(12, 214, 219, 0.44), 0 0 4px #0cd6db;
}
.subhead{
    padding-bottom: 40px;
    font-size: 46px;
    line-height: 70px;
    font-family:monospace;
}
.subhead>span{
    filter: hue-rotate(323deg);
    color: #0cd6db;
    text-shadow: 0 0 12px rgba(12, 214, 219, 0.44), 0 0 4px #0cd6db;
    padding: 0 10px 1px 10px;
    background-color: #0cd6db;
    border-radius: 5px;
    color: #171a4a;
}
.video{
    height: 530px;
    padding-bottom: 40px;
}
iframe{
    height: 480px;
    width: 100%;
}
h2{
    padding: 40px 60px 40px 60px;
    font-size: 57px;
}
.cta{
    padding-bottom: 40px;
}
.pcta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.apenas{
    font-size: 50px;
}
.depoisapenas{
    display: grid;
}
.depoisapenas>strong{
    color: red;
    font-size: 26px;
    text-align: left;
    padding-left: 25px;
}
.preco{
    font-size: 100px;
    filter: hue-rotate(323deg);
    color: #0cd6db;
    text-shadow: 0 0 12px rgba(12, 214, 219, 0.44), 0 0 4px #0cd6db;
    padding-left: 25px;
}
.boxbotao{
    padding: 40px;
    padding-bottom: 80px;
}
.link{
    font-size: 64px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 15px 40px;
    background-color: #0cd6db;
    background-color: #0db368;
    border-right: 4px solid #034b2b;
    border-bottom: 5px solid #1b6342;
    border-left: 4px solid #437e63;
    border-radius: 10px;
    box-shadow: 0 20px 30px 3px rgba(12, 185, 107, 0.356);
    transition: all 250ms ease;
    color: #faf9f6;
    borde
  
}